<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <customErrors mode="Off" defaultRedirect="Oops.htm"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.cshtml" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="home" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/pages/default.cshtml" />
        </rule>
        <rule name="pages" stopProcessing="true">
          <match url="^([a-z\-]+)$" />
          <action type="Rewrite" url="/pages/{R:1}.cshtml" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
    <add key="KitGUI.AccountKey" value="08fb4474e057468f8e1ac37e16d18719" />
  </appSettings>
  
</configuration>