<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <customErrors mode="Off" defaultRedirect="Oops.htm"/>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.cshtml" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="home" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="/pages/default.cshtml" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="webpages:Enabled" value="true" />
    <add key="KitGUI.AccountKey" value="08fb4474e057468f8e1ac37e16d18719" />
  </appSettings>
  
</configuration>
  
  <!--  NODE (didn't work correctly)
  <location path="node">
    <system.webServer>
      <handlers>
        <add name="iisnode" path="app.js" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
      </handlers>
    </system.webServer>
  </location>
  <system.webServer>
    <iisnode 
      node_env="%node_env%" 
      nodeProcessCountPerApplication="1" 
      maxConcurrentRequestsPerProcess="1024" 
      maxNamedPipeConnectionRetry="100" 
      namedPipeConnectionRetryDelay="250" 
      maxNamedPipeConnectionPoolSize="512" 
      maxNamedPipePooledConnectionAge="30000" 
      asyncCompletionThreadCount="0" 
      initialRequestBufferSize="4096" 
      maxRequestBufferSize="65536" 
      watchedFiles="*.js;iisnode.yml" 
      uncFileChangesPollingInterval="5000" 
      gracefulShutdownTimeout="60000" 
      loggingEnabled="false" 
      logDirectory="iisnode" 
      debuggingEnabled="false" 
      debugHeaderEnabled="false" 
      debuggerPortRange="5058-6058" 
      debuggerPathSegment="debug" 
      maxLogFileSizeInKB="128" 
      maxTotalLogFileSizeInKB="1024" 
      maxLogFiles="20" 
      devErrorsEnabled="true" flushResponse="false" 
      enableXFF="false" promoteServerVars="" configOverrides="iisnode.yml" 
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />

    <defaultDocument enabled="true">
      <files>
        <add value="index.htm" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="home" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/node/app.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="PORT" value="80" />
  </appSettings>
  -->