@{
    Layout = "~/templates/famoussas/_Main.cshtml";    
}
@section head
{
    <link rel="stylesheet" href="/css/famoussas/content.css" />
    @RenderSection("head", required: false)
}

<div class="content">
@RenderBody()
</div>

@section foot
{
    @RenderSection("foot", required: false)
}

