@{
    Layout = "~/templates/famoussas/_Main.cshtml";    
}
@section head
{@*
    *@<link rel="stylesheet" href="/css/famoussas/shop.css" />@*
    *@@RenderSection("head", required: false)@*
*@}
<div class="breadcrumb">
    @RenderSection("breadcrumb", required: false)
</div>
<div style="clear:both"></div>
<div class="left">

</div>
<div class="right">
    @RenderBody()
</div>
<div style="clear:both"></div>

@section foot
{
    @RenderSection("foot", required: false)
}
