@{
    Layout = "~/templates/famoussas/_Form.cshtml";
}

@section head
{
    <link rel="stylesheet" href="/css/famoussas/forgot-password.css" />
}

<h1>Forgot Password</h1>

<form class="forgot-password">
    <h2>Reset Your Password</h2>
    <p>We'll email you a new one.</p>
    <label>
        <input type="email" placeholder="Email Address *" required />
    </label>
    <div class="button-group">
        <button>Submit</button>
    </div>
</form>

@section foot {
    <script src="/js/entry.js"></script>    
}